R version 4.2.0 (2022-04-22) or later

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base     

other attached packages:
[1] rjags_4-16       coda_0.19-4.1    openxlsx_4.2.7.1
